.jimu-widget-sitevisits123 .jimu-btn.disactive{
    background-color: #cdcdcd;
    width:100%;
    height:70px;
    text-align: center;
    white-space: normal;
    margin: auto;
}

.jimu-widget-sitevisits123 .jimu-btn{
    width:100%;
    height:70px;
    text-align: center;
    white-space: normal;
    margin: auto;
}


.jimu-panel .jimu-panel-title .title-label{
    width:90%;
}
