<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="true">
    <serverUrls>
		<!-- AGOL proxies -->
        <serverUrl url="//services.arcgisonline.com"
            matchAll="true"/>
		<serverUrl url="https://maryland.maps.arcgis.com"
			clientId="HEWWFQS5AaCs2cWZ"
			clientSecret="1340ef359d6b4254a8a71dfcf7b5b73b"
			oauth2Endpoint="https://maryland.maps.arcgis.com/sharing/oauth2/"
			matchAll="true"/>
        <serverUrl url="https://www.arcgis.com"
			clientId="HEWWFQS5AaCs2cWZ"
			clientSecret="1340ef359d6b4254a8a71dfcf7b5b73b"
			oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/"
            matchAll="true"/>
        <serverUrl url="https://landscape10.arcgis.com"
			clientId="HEWWFQS5AaCs2cWZ"
			clientSecret="1340ef359d6b4254a8a71dfcf7b5b73b"
			oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/"
            matchAll="true"/>
		<serverUrl url="https://landscape1.arcgis.com"
			clientId="HEWWFQS5AaCs2cWZ"
			clientSecret="1340ef359d6b4254a8a71dfcf7b5b73b"
			oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/"			
            matchAll="true"/>	
		<serverUrl url="https://landscape11.arcgis.com"
			clientId="HEWWFQS5AaCs2cWZ"
			clientSecret="1340ef359d6b4254a8a71dfcf7b5b73b"
			oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/"			
            matchAll="true"/>
        <serverUrl url="https://services.arcgis.com"
			clientId="HEWWFQS5AaCs2cWZ"
			clientSecret="1340ef359d6b4254a8a71dfcf7b5b73b"
			oauth2Endpoint="https://www.arcgis.com/sharing/oauth2/"
            matchAll="true"/>
		<!-- MES Proxies -->
		<serverUrl url="https://services.mesgis.com/arcgis"
			username="gcastaneda"
			password="MESgis2018"
			matchAll="true"/>
        <serverUrl url="//services.mesgis.com/wrrnationwide/map/"
            matchAll="true"/>	
        <serverUrl url="https://staging.mesgis.com"
            matchAll="true"/>				
		<!-- MD Layers -->			
		<serverUrl url="http://mdewin64.mde.state.md.us"
				matchAll="true"/>		
		<serverUrl url="http://cirrus-web-adapter-241060755.us-west-1.elb.amazonaws.com"
				matchAll="true"/>
		<!-- PA Layers -->
		<serverUrl url="http://imagery.pasda.psu.edu"
				matchAll="true"/>
		<serverUrl url="http://maps.pasda.psu.edu"
				matchAll="true"/>
		<serverUrl url="https://imagery.pasda.psu.edu"
				matchAll="true"/>
		<serverUrl url="https://maps.pasda.psu.edu"
				matchAll="true"/>
		<serverUrl url="http://www.pdargissvr.pa.gov"
				matchAll="true"/>
		<serverUrl url="http://maps.natureserve.org"
				matchAll="true"/>		
		<serverUrl url="https://maryland.maps.arcgis.com/sharing/rest/content/items/94615bf0f56b47d4a7baee2dc9662a21"
			username="giorgy.castaneda"
			password="cadillac89"
			matchAll="true"/>
		<serverUrl url="https://www.arcgis.com"
			username="giorgy.castaneda"
			password="cadillac89"
			matchAll="true"/>
		<serverUrl url="https://maryland.maps.arcgis.com"
			username="giorgy.castaneda"
			password="cadillac89"
			matchAll="true"/>
		<!-- West Virginia Layers -->
		<serverUrl url="https://tagis.dep.wv.gov"
				matchAll="true"/>
		<serverUrl url="https://services.wvgis.wvu.edu"
				matchAll="true"/>	
				
		<!-- South Carolina Layers -->
		<serverUrl url="https://landgrid.com"
				matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
